{erl_opts, [debug_info]}.
{deps, [
    {ra, {git, "https://github.com/rabbitmq/ra.git", {branch, "master"}}},
    {cowboy, "2.6.3"},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [sasl,crypto,cowboy,raft_kv]}
]}.
